@import "../../../main.global";

.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
}

.post {
  max-height: 100vh;
  padding: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  @include nice-scroll;
  @include media-tablet {
    max-height: 60vh;
    height: auto;
    padding: 0 35px;
    width: 960px;
    overflow-y: scroll;
  }
}

.postContent {
  border-bottom: 1px solid $grayD9;
  padding-bottom: 0;
  position: relative;
  @include media-tablet {
    padding-bottom: 30px;
  }
}

.postText {
  font-size: 16px;
  margin-bottom: 28px;
}

.postInfo {
  display: flex;
  align-items: center;;
  padding: 0 0 20px;
  position: relative;
  width: 100%;

  @include media-tablet {
    width: 960px;
    padding: 0 25px 25px;
  }
}

.postTopRight {
  padding: 0 5px;
}

.postTitle {
  @include media-mobile {
    font-size: 18px;
    line-height: 23px;
  }
  @include media-tablet {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.postImg {
  width: 100%;
  max-height: 494px;
}
