@import '../../../../main.global';

.modalBack {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  z-index: 10000;
  height: max-content;
  @include media-tablet {
    height: 100%;
    padding-top: 190px;
  }
}

.modal {
  background-color: white;
  min-width: 320px;
  max-width: 320px;
  padding: 45px 25px;
  position: relative;
  @include media-tablet {
    max-width: 1024px;
  }
  @include media-desktop {
    max-width: 1540px;
  }
}
