@import "../../../../../main.global.scss";

.karmaCounter > * + * {
  padding: 0;
}

.karmaCounter {
  @include media-tablet {
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    display: flex;
    flex-direction: column;
  }
  @include media-desktop {
    button.up:hover > svg > path {
      fill: $green;
    }

    button.down:hover > svg > path {
      fill: $orange;
    }
  }
}

.karmaValue {
  color: $grayC4;
}

.down > svg {
  transform: rotate(180deg);
}
