@import "../../../main.global";

.layout {
  min-width: 320px;
  max-width: 320px;
  height: 100%;
  margin: 0 auto;

  @include media-tablet {
    min-width: 1024px;
    max-width: 1024px;
  }

  @include media-desktop {
    padding: 60px 0 0 60px;
    min-width: 1540px;
    max-width: 1540px;
  }
}

