@import "../../../main.global";

.cardList {
  position: relative;
  @include list-reset;
  @include media-desktop {
    background-color: $white;
    padding-bottom: 5px;
  }
}

.emptyCard {
    position: relative;
    background-color: $white;
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 20px;

    @include media-tablet {
      margin-bottom: 40px;
      padding: 0 40px;
    }

    @include media-desktop {
      padding: 20px 45px 20px 72px;
      margin: 0;

    }
}

.emptyImg {
  background-color: $gray99;
  position: relative;
  height: 178px;
  width: 100%;
  overflow: hidden;

  @include media-tablet {
    max-height: 107px;
    max-width: 190px;
    margin-right: 40px;
  }
}

.emptySpan {
  background-color: $grayD9;
  height: 10px;
  width: 100%;
  margin-bottom: 10px;
  @include media-tablet {
    height: 20px;
  }
}

.emptyTextBox {
  padding: 20px 20px 15px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  button {
    text-align: start;
  }

  @include media-tablet {
    order: 1;
    max-width: 63%;
    align-content: center;
    flex-flow: row wrap;
    padding: 0;

  }

  @include media-desktop {
    flex-basis: 672px;
    cursor: auto;
    max-width: 80%;

  }
}

.loadMore {
  background-color: $orange;
  color: $white;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  padding: 0 15px;
  width: 40%;
  justify-content: center;
  margin: 0 30% 0 30%;
  @include media-tablet {
    width: 20%;
    margin: 0 40% 0 40%;
  }
}
