@import "../../../../../main.global";

.commentTop {
  display: flex;
  align-items: center;
}

.commentBottom {
  position: relative;
  padding: 0 0 0 27px;

  &:before {
    position: absolute;
    content: "";
    width: 3px;
    top: 0;
    bottom: 12px;
    left: 8px;
    margin: 14px 0 0 0;

    background: $grayD9;
  }
}

.commentBody {
  a {
    color: mediumblue;
    text-decoration: underline;
    padding: 10px 0;
  }

  ul {
    list-style: disc outside;
    margin: 4px 0 4px 8px;
  }
}

.svgArrows {
  margin-right: 20px;
}
