@import '../../../../../../main.global';

.karmaCounter > * + * {
  padding: 0;
}

.karmaCounter {
  @include media-tablet {
    min-width: 40px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    display: flex;
    flex-direction: column;
  }
  @include media-desktop {
    button.up:hover > svg > path {
      fill: $green;
    }

    button.down:hover > svg > path {
      fill: $orange;
    }
  }
}

.karmaValue {
  color: $grayC4;
  margin: 0 10px;
  text-align: center;
  @include media-tablet {
    margin: 0;
  }
}

.down > svg {
  transform: rotate(180deg);
}
