@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$black: #333333;
$orange: #cc6633;
$green: #a4cc33;
$whiteLightness: 100%;
$white: hsl(0, 0%, $whiteLightness);
$grayF4: hsl(0, 0%, $whiteLightness - 4%);
$grayF3: hsl(0, 0%, ($whiteLightness - 5%));
$grayD9: hsl(0, 0%, ($whiteLightness - 15%));
$grayC4: hsl(0, 0%, ($whiteLightness - 23%));
$gray99: hsl(0, 0%, ($whiteLightness - 40%));
$gray66: hsl(0, 0%, ($whiteLightness - 60%));
$gray33: hsl(0, 0%, ($whiteLightness - 80%));

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $grayF4;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }
}

* {
  color: $black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin list-reset {
  list-style: none;
}

@mixin media-mobile {
  @media all and (min-width: 320px), all and (min-device-width: 320px) {
    @content;
  }
}

@mixin media-tablet {
  @media all and (min-width: 1024px), all and (min-device-width: 1024px) {
    @content;
  }
}

@mixin media-desktop {
  @media all and (min-width: 1540px), all and (min-device-width: 1540px) {
    @content;
  }
}

@mixin transparent-scroll {
  &::-webkit-scrollbar {
    padding-right: 10px;
    width: 7px;
    height: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background-color: transparent;
  }
}

@mixin nice-scroll {
  &::-webkit-scrollbar {
    padding-right: 10px;
    width: 7px;
    height: 4px;
    background-color: $grayF4;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    background-color: $grayD9;
  }

  &::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background-color: $orange;
  }
}
