@import "../../../../main.global.scss";

.preview {
  position: relative;
  max-height: 178px;
  width: 100%;
  overflow: hidden;

  @include media-tablet {
    max-height: 107px;
    max-width: 190px;
    margin-right: 40px;
  }
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
