@import "../../main.global.scss";

.cardList {
  position: relative;
  @include list-reset;
  @include media-desktop {
    background-color: $white;
    padding-bottom: 5px;
  }
}

.loadMore {
  background-color: $orange;
  color: $white;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  padding: 0 15px;
  width: 40%;
  justify-content: center;
  margin: 0 30% 0 30%;
  @include media-tablet {
    width: 20%;
    margin: 0 40% 0 40%;
  }
}
