@import "../../main.global.scss";

.cardList {
  position: relative;
  @include list-reset;
  padding-bottom: 5px;
  @include media-tablet {
    padding: 40px 0;
  }
  @include media-desktop {
    padding-bottom: 5px;
  }
}

.loadMore {
  background-color: $orange;
  color: $white;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  margin: 10px auto;
  width: 25%;
}
